body{
    background-color: #080415;
    font-family:  'Montserrat', sans-serif;
    color: white;
}

.logo{
    width: 50px;
}

.tres-texto{
    width: 97%;
    max-width: 1100px;
    margin: 0 auto;
}

/* iconos */
.col-4 i{
    height: 40px;
    color: #ffffff;
    font-size: 30px;
}

.icono{
    text-align: center;
}

